<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQbjd2jPIt0LpDIr3iSgcvUEKq7XfbDp0</string>
	<key>GCM_SENDER_ID</key>
	<string>1028871379566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.kspeaker</string>
	<key>PROJECT_ID</key>
	<string>kspeaker-f8b0a</string>
	<key>STORAGE_BUCKET</key>
	<string>kspeaker-f8b0a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028871379566:ios:f4b21f29a0fe447f83a47f</string>
</dict>
</plist>